# Getting the Data

### Dependencies; uncomment the lines below if you haven't installed these packages

In [5]:
pip install sodapy

SyntaxError: invalid syntax (<ipython-input-5-e69c07ae6d1e>, line 1)

In [6]:

import pandas as pd 
from sodapy import Socrata
client = Socrata("data.cityofberkeley.info",
                  'hDgMK5whfNUoA9aRqeM71eNkM',            #refer to SLACK 
                  username="rikiiyer@berkeley.edu",        #refer to SLACK 
                  password="CalCrime1121")       #refer to SLACK 
#arrests = pd.DataFrame.from_records(client.get('xi7q-nji6'))
#inquiries = pd.DataFrame.from_records(client.get('bscu-qpbu'))
calls = pd.DataFrame.from_records(client.get('k2nh-s5h5'))
stops = pd.DataFrame.from_records(client.get('6e9j-pj9p'))
#jail = pd.DataFrame.from_records(client.get('7ykt-c32j'))

## Arrests Dataset

In [7]:
arrests.head() #not very useful

NameError: name 'arrests' is not defined

### The arrests dataset contains no information on where the person was arrested; this makes it very difficult for us to use in a mapping software.

In [8]:
inquiries.head() #not very useful

NameError: name 'inquiries' is not defined

In [9]:
calls.head()

,:@computed_region_3ini_iehf,:@computed_region_5bih_7r3y,:@computed_region_5s6d_2f32,:@computed_region_b3wi_w8ix,:@computed_region_fhmw_rucx,:@computed_region_u3y2_d2ws,:@computed_region_x3q3_gi3e,blkaddr,block_location,caseno,city,cvdow,cvlegend,eventdt,eventtm,indbdate,offense,state
0,9,11,1502,7,1444,7,5,HARRISON STREET & 5TH ST,"{u'latitude': u'37.880922', u'human_address': ...",19090820,Berkeley,3,BURGLARY - VEHICLE,2019-04-10T00:00:00.000,20:30,2019-10-08T07:00:06.000,BURGLARY AUTO,CA
1,11,32,1496,1,357,1,1,2000 KITTREDGE ST,"{u'latitude': u'37.868204', u'human_address': ...",19019255,Berkeley,3,BURGLARY - VEHICLE,2019-04-10T00:00:00.000,17:45,2019-10-08T07:00:06.000,BURGLARY AUTO,CA
2,6,28,1494,8,704,8,8,2000 SAN PABLO AV,"{u'latitude': u'37.868815', u'human_address': ...",19019086,Berkeley,3,BURGLARY - COMMERCIAL,2019-04-10T00:00:00.000,04:39,2019-10-08T07:00:06.000,BURGLARY COMMERCIAL,CA
3,1,17,1500,6,1055,6,4,1100 HILLVIEW RD,"{u'latitude': u'37.892987', u'human_address': ...",19090839,Berkeley,3,FRAUD,2019-04-10T00:00:00.000,00:00,2019-10-08T07:00:06.000,IDENTITY THEFT,CA
4,6,11,1502,8,1441,8,8,200 UNIVERSITY AV,"{u'latitude': u'37.865511', u'human_address': ...",19090886,Berkeley,3,LARCENY,2019-04-10T00:00:00.000,08:45,2019-10-08T07:00:06.000,THEFT MISD. (UNDER $950),CA

In [9]:
calls.columns

Index([':@computed_region_3ini_iehf', ':@computed_region_5bih_7r3y',
       ':@computed_region_5s6d_2f32', ':@computed_region_b3wi_w8ix',
       ':@computed_region_fhmw_rucx', ':@computed_region_u3y2_d2ws',
       ':@computed_region_x3q3_gi3e', 'blkaddr', 'block_location', 'caseno',
       'city', 'cvdow', 'cvlegend', 'eventdt', 'eventtm', 'indbdate',
       'offense', 'state'],
      dtype='object')

In [10]:
stops.columns

Index([':@computed_region_5s6d_2f32', 'call_date_time', 'dispositions',
       'incident_number', 'incident_type', 'location', 'location_1_address',
       'location_1_city', 'location_1_state'],
      dtype='object')

In [11]:
stops.head()

,:@computed_region_5s6d_2f32,call_date_time,dispositions,incident_number,incident_type,location,location_1_address,location_1_city,location_1_state
0,NaN,2015-01-26T00:10:00.000,M,2015-00004825,T,SAN PABLO AVE / MARIN AVE,SAN PABLO AVE / MARIN AVE,Albany,CA
1,NaN,2015-01-26T00:50:00.000,M,2015-00004829,T,SAN PABLO AVE / CHANNING WAY,SAN PABLO AVE / CHANNING WAY,Berkeley,CA
2,NaN,2015-01-26T01:03:00.000,M,2015-00004831,T,UNIVERSITY AVE / NINTH ST,UNIVERSITY AVE / NINTH ST,Berkeley,CA
3,NaN,2015-01-26T07:16:00.000,BM4ICN,2015-00004848,1194,2000 BLOCK BERKELEY WAY,2000 BLOCK BERKELEY WAY,Berkeley,CA
4,NaN,2015-01-26T07:43:00.000,BM4ICN,2015-00004849,1194,1700 BLOCK SAN PABLO AVE,1700 BLOCK SAN PABLO AVE,Berkeley,CA

In [12]:
jail.head() #not very useful

,age,arrest_date_and_time,booking_agency,booking_date_and_time,booking_number,case_number,date_of_birth,disposition,eyes,hair,height,occupation,race,sex,statute,statute_description,statute_type,subject,weight
0,41,2019-10-02T22:59:00.000,CA0010300,2019-10-02T23:39:59.000,2019-00002650,2019-00055891,1978-09-06T00:00:00.000,SANTA RITA JAIL,BRO,BLD,6 Ft. 4 In.,NaN,Black,Male,11364 (A); 11377 (A); 466; 1203.2 - M;,Possess narcotics paraphernalia; Possession of...,HS; PC;,Janae Aaron Bell,240
1,57,2019-10-02T21:40:00.000,CA0019700,2019-10-02T22:02:03.000,2019-00002649,2019-00002762,1961-11-07T00:00:00.000,SANTA RITA JAIL,BLU,BLN,5 Ft. 11 In.,UNEMPLOYED,White,Male,3056;,Violation of Parole;,PC;,STEVEN MICHAEL DOUGLAS,170
2,46,2019-10-02T17:16:00.000,CA0010300,2019-10-02T18:46:22.000,2019-00002648,2019-00055837,1973-06-27T00:00:00.000,NaN,BLU,BLN,6 Ft. 0 In.,NaN,White,Male,459;,Burglary;,PC;,Christopher Andrew Lerch,275
3,28,2019-10-02T16:22:00.000,CA0010300,2019-10-02T16:46:41.000,2019-00002647,2019-00055811,1991-09-23T00:00:00.000,CITE-JAIL,BLK,BRO,6 Ft. 1 In.,NaN,Black,Male,11377 (A); 11364 (A);,Possession of controlled substances; Possess n...,HS;,Curtis Roshawn Phillips,260
4,61,2019-10-02T10:32:00.000,CA0010300,2019-10-02T11:22:21.000,2019-00002646,2019-00055759,1958-04-20T00:00:00.000,CITE-JAIL,BRO,GRY,6 Ft. 2 In.,NaN,White,Male,602 (M);,TRESPASS:OCCUPY PROPERTY WITHOUT CONSENT;,PC;,RANDALL MERLE SIMPSON,175

### The jail dataset contains no information on where the person was arrested; this makes it very difficult for us to use in a mapping software

# The datasets which we can actually use are: calls, stops